<script>
        function privacyLinkButton() {
            return {
                    hide: function(){
                        $('#privacy-link').hide();
                    
                    },
                    show: function () {
                        $('#privacy-link').show();
                    }
                }
        }
        
        function deleteContextButton() {
            return {
                hide: function(){
                    $('#deletecontext').hide();
                    $('#deletecontextbutton').hide();
                
                },
                show: function () {
                    $('#deletecontextbutton').show()
                    $('#deletecontext').show();
                }
            }
        }
        
        
        function collaborateButton() {
            return {
                hide: function(){
                    $('#collaborate-link').hide();
                
                },
                show: function () {
                    $('#collaborate-link').show();
                }
            }
        }
        
        function importLinkButton() {
            return {
                hide: function(){
                    $('#import-link').hide();
                
                },
                show: function () {
                    $('#import-link').show();
                },
                onClick: function(onClick) {
                    $('#import-link').on('click', onClick)
                }
            }
        }
        
    
        var graph_share_url = userFactory.getHostSite() + '/' + userFactory.getCurrentUser();

        if (userFactory.getGraphOption('abstract') == 'true') {
                    graph_share_url += '&abstract=true&hide_always=1&';
        }
        
            
        if (userFactory.getCurrentContext()) {
            graph_share_url = graph_share_url + "/" + userFactory.getCurrentContext() + "?";
        }
        
        if (userFactory.getBackground()) {
            graph_share_url += 'background=' + userFactory.getBackground() + '&';
        }
        
        if (userFactory.getMostInfluential()) {
            graph_share_url += '&most_influential=' + userFactory.getMostInfluential() + '&';
        }
        
        if (userFactory.getMaxNodes()) {
            graph_share_url += '&maxnodes=' + userFactory.getMaxNodes() + '&';
        }
        
        var privacy_iframe = "<iframe width='100%' height='500' style='height: 500px' src='https://" + graph_share_url + "hide_always=1&link_hashtags=1&background=" + userFactory.getBackground() + "&maxnodes=" + userFactory.getMaxNodes() + "' frameborder='0' allowfullscreen></iframe>";
        
        var privacyform = '';
        
        <% if (contextpublic && context && !perceivername && entries.length > 0) { %>
            privacyform = $('<span><form action="/context" name="privacycontext" method="post" class="pure-form"><input type="hidden" name="context" value="<%= context %>">This context can be viewed on:<br><input type="text" id="embedurl" size="25" maxlength="80" class="pure-input" value="https://' + graph_share_url + '"><br><br>Embed code for websites:<br><input type="text" id="embedcode" size="25" maxlength="100" class="pure-input" value="' + privacy_iframe + '"><br><br><input type="submit" id="privacybutton" name="privacy" value="make private"></form></span>')
        
        <% } else if (!perceivername && context && entries.length > 0) { %>
            privacyform = $('<span><form action="/context" name="privacycontext" method="post" class="pure-form"><input type="hidden" name="context" value="<%= context %>">This context is currently private and cannot be seen by the public.<br><br><input type="submit" id="privacybutton" name="privacy" value="make public"></form></span>')
        <% }  %>
        
        $('#privacy-link').tooltipster({
            theme: 'tooltipster-noir',
            position: 'top-right',
            maxWidth: 220,
            interactive: true,
            content: privacyform,
            functionReady: function() {
                $('#embedurl').focus(function(event) {
                    setTimeout(function() {$('#embedurl').select();}, 0);
                });
                $('#embedcode').focus(function(event) {
                    setTimeout(function() {$('#embedcode').select();}, 0);
                });
        
            }
        });
        
        
        // If the user opened a URL with collaborate=xxxxxx then they join the room that's the "url_path/xxxxxx"
        if (collaborate_invite) {
            collabFactory.setCollabId(collaborate_invite);
        }
        // Otherwise they join a room which is "url_path/randomnumber"
        else {
            collabFactory.setCollabId(Math.round((Math.random() * 1000000)));
        }
        
        collabFactory.setCollabMatrix(collabFactory.getCollabRoom(), collabFactory.getCollabId());
        
        let collaborate_storage = JSON.parse(localStorage.getItem("collaborate"));    
        
        if (!collaborate_invite) {
            if (collaborate_storage) {
        
                if (collaborate_storage[collabFactory.getCollabRoom()]) {
                    if (collaborate_storage[collabFactory.getCollabRoom()].length > 0) {
                        collabFactory.getCollabMatrixForRoom(collabFactory.getCollabRoom(),collaborate_storage[collabFactory.getCollabRoom()]);
                        collabFactory.setCollabId(collabFactory.getCollabMatrixForRoom(collabFactory.getCollabRoom()).split("/").pop());
                    }
                }
            }
        
            // Now in case the original user reloads the page by error, they'll get the new collaborate ID, so we avoid that by storing their data
            localStorage.setItem("collaborate", JSON.stringify(collabFactory.getCollabMatrix()));
        }
        
        
        let collaborate_message = '<a href="mailto:chat@infranodus.com?subject=Chat%20Now&body=https://' + graph_share_url + '/edit?collaborate=' + collabFactory.getCollabId() + '">Invite us</a> or other people for a real-time constellaversation – just share the link below:<br>';
        let collaborate_html = '<span><form class="pure-form">' + collaborate_message + '<input type="text" id="collaburl" size="22" maxlength="80" class="pure-input" value="http://' + graph_share_url + '/edit?collaborate=' + collabFactory.getCollabId() + '"></form></span>';
        let collaborate_content = $(collaborate_html);
        
        // For collaboration - Socket.IO chat
        var collaborate_invite = getUrlVars()["collaborate"];
        
        $('#collaborate-link').tooltipster({
            theme: 'tooltipster-noir',
            position: 'top-right',
            maxWidth: 220,
            interactive: true,
            content: collaborate_content,
            functionReady: function() {
                $('#collaburl').focus(function(event) {
                    this.setSelectionRange(0, 9999);
                });
            }
        });
        
        
        
        <% if (!perceivername) { %>
        
            // Advertise graph collaboration module
            if (!collaborate_invite) {
                var collab_content = $('#collaborate-link').tooltipster('content');
        
                var graph_share_url = userFactory.getHostSite() + '/' + userFactory.getCurrentUser();
        
                if (userFactory.getCurrentContext()) {
                    graph_share_url = graph_share_url + "/" + userFactory.getCurrentContext();
                }
        
        
            }
        <% } %>
    
    </script>