{
    "neo4j":  {
        "host": "localhost:7474",
        "bolt": "localhost",
        "username": "neo4j",
        "password": "Really_Secure_Local_Db_Password"
    },

    "secrets": {
        "invitation": "secretcode"
    },

    "infranodus": {
        "domain": "localhost:3000",
        "default_user": ""
    },

    "evernote": {
        "API_CONSUMER_KEY" : "app_name",
        "API_CONSUMER_SECRET" : "app_secret",
        "CALLBACK_URL": "http://localhost:3000/evernote_oauth_callback",
        "SANDBOX" : true
    },

    "twitter": {
        "consumer_key":         "secret",
        "consumer_secret":      "secret",
        "access_token":         "token-secret",
        "access_token_secret":  "token-secret"
    },

    "chargebee": {
        "site":         "",
        "api_key":      "secret",
        "redirect_url": ""
    }
}
