<div id="messages">
    <% if (!perceivername) { %>
      <a href="javascript:" id="addnode" class="tooltip editorpane" title="add a node in the graph"></a>
    <% } %>
      <a href="javascript:" id="searchnode" class="tooltip" title="find a node in the graph"></a>
      <form action="" method="" class="pure-form" id="addnodeform"><input type="text" id="addnodeinput" size="10" placeholder="#node_name" class="pure-input"></form>
   
</div>