
<div id='statements'>
<%- include('./StatementsOverview', {entries}); %>

<%- include('./StatementInputDialog/index',
    {perceivername, addcontext, user, context, contextpublic, url, urltitle}); %>
</div>