<%- include('./StatementsOverview', {entries}); %>

<div id='statements'>

<%- include('./EntryInputDialog/EntryInput',
    {perceivername, addcontext, context, contextpublic, url, urltitle}); %>
</div>
