<div id="explanation">
    <div id="expsummary">
        <div class='explintro'><span class='headline'>Top keywords:<br> </span>
            <div class="topinfnodes"></div>
        </div>
        <div class='explintro'><span class='headline'>Top themes:<br></span>
            <div class="topinftopics"></div>
        </div>
        <div class='explintro'>Explore the main topics and terms outlined above or see them in the <a href='javascript:' id='unhideentries' class='underlinelink'>excerpts from this text</a> below.</div>
    </div>
    <div id="expinsight">
        <div class='explintro'>
            <div id="insightadvice"></div>
        </div>
    </div>
</div>

<div id="entries">

    <% entries.forEach(function(entry) { %>
        <%- include('./StatementEntry', {entry}); %>
    <% }) %>

    <%- include('../../common/messages', {messages:locals.messages, removeMessages: locals.removeMessages}); %>

    <div id="warnings"></div>

</div>
