<%- include('./StatementsView', {entries}); %>
<%- include('./StatementsList', {entries}); %>

<div id='statements'>

<%- include('./EntryInputDialog/EntryInput',
    {perceivername, addcontext, context, contextpublic, url, urltitle}); %>
</div>
