
<div id="entries">

    <div id="explanation"></div>

    <% entries.forEach(function(entry) { %>
        <%- include('./StatementEntry', {entry}); %>
    <% }) %>

    <%- include('../../common/messages', {messages:locals.messages, removeMessages: locals.removeMessages}); %>

    <div id="warnings"></div>

</div>

<script>

var currentEntriesPanelMode = "VISIBLE"

if (localStorage.getItem('folded') == 1) {
    currentEntriesPanelMode = "HIDDEN"
    changeEntriesModeTo(currentEntriesPanelMode);
}    
        
function changeEntriesModeTo(mode) {
    currentEntriesPanelMode = mode
    updateEntriesPanel()
}

function checkEntriesMode() {
    return {
        visibility: function() {
            if ($("#entries").css('visibility') == 'hidden') {
                    return 'HIDDEN'
            }
            else if ($("#entries").css('visibility') == 'visible') {
                    return 'VISIBLE'
            }
        }
    }    
}

function updateEntriesPanel() {
    if(currentEntriesPanelMode === "HIDDEN") entries().hide();
    if(currentEntriesPanelMode === "VISIBLE") entries().show();
}

function entries() {
    return {
        fillSpace: function(heightToReduce){
            $('#entries').css({height:  $(window).height() - heightToReduce});
        },
        show: function() {
                $("#entries").css('z-index','5');
                $("#entries").css('visibility','visible');
                $('#topnav').fadeIn();
                localStorage.setItem('folded', 0);
                // TODO move color to another function
                $('#statements-link').removeClass('statements-link-on-dark');
                $('#statements-link').removeClass('statements-link-on');
        },
        hide: function() {
                $("#entries").css('z-index','-2'); 
                $("#entries").css('visibility','hidden');
                $('#topnav').fadeOut();
                localStorage.setItem('folded', 1);
                // TODO move color to another function
                if (background == 'dark') {
                    $('#statements-link').addClass('statements-link-on-dark');
                }
                else {
                    $('#statements-link').addClass('statements-link-on');
                }
                
        }
    }
}
</script>