<div id='topnav'>
    <div class='pure-menu pure-menu-open pure-menu-horizontal'>
    <ul id='topnav_items'>
        <li id="summary">
                <a>Essence</a>
        </li>
        <li  id="overview" class="pure-menu-selected-top">
            <a>Overview</a>
        </li>
        <li id="insight">
            <a>Insight</a>
        </li>
    </ul>
    </div>
</div>
