<%- include('./StatementsOverview', {entries}); %>

<div id='statements'>

<%- include('./StatementInputDialog/EntryInput',
    {perceivername, addcontext, context, contextpublic, url, urltitle}); %>
</div>
