 
<div id="edit-panel">
    <form action='/post' name='submitform' id="submitform" method='post' class='pure-form'>

            <textarea columns="40" rows="4" name='entry[body]' id="statement" placeholder='type in some words or #hashtags to see how they connect'><% if (url) { %><%= urltitle %> <%= url %><% } %></textarea>
            <div id="addToContextsLabel">in context:</div>
            <ul id="addToContexts"></ul>
            <input type="hidden" id="addedContexts" name="addedContexts">
            <input type="hidden" id="context" name="context" value="<%= context %>">
            <input type="hidden" id="selectedContexts" name="selectedContexts" value="">
            <input type="hidden" id="statementid" name="statementid" value="">
            <input type="hidden" name="timestamp" value="">
            &nbsp;<br>
            <input type='submit' id="submitbutton" name="btnSubmit" value="save" class="pure-button pure-button-primary">

    </form>
</div>

<div id="search-panel">
    <form class="pure-form" id="searchform">
        <input type="text" id="search" size="14" maxlength="20" class="pure-input" placeholder="search...">
        &nbsp;&nbsp;
        <input type='submit' name="submit" value=">" class="pure-button pure-button-primary">
    </form>
</div>

<script>
    
    searchForm().onSubmit(submitSearchForm);

    function searchForm() {
        return {
            autofill: function() {
                autoComplete('#search',graphFactory.getNodeNames());  
            },
            onSubmit: function(onSubmit) {   
                $('#searchform').on('submit', onSubmit);
            }
        }
    }

    function submitSearchForm(e) {

        

        e.preventDefault();
        // What are we searching?
        var searchPhrase = $('#search').val();

        if (searchPhrase.length > 1) {

            // Clean up the search string
            searchPhrase = searchPhrase.replace(/\s+/g,' ').trim();

            // Separate terms into array
            var searchArray = searchPhrase.toLowerCase().split(" ");

            var searchPhraseLemmas = [];


            for (var j = 0; j < searchArray.length; j++) {
                // Is the search term cyrillic?
                var search_cyrillic = searchArray[j].match(/[а-яА-Я]/);

                // SEARCHMOD
                // var search_lemma = window.jstemmer(searchArray[j]);

                var search_lemma = searchArray[j];

                searchPhraseLemmas.push(search_lemma);

            }

            for (var k = 0; k < searchPhraseLemmas.length; k++) {
                if (graphFactory.checkIfPinned(searchPhraseLemmas[k]) == false) {
                    graphFactory.addToPinnedNodes(searchPhraseLemmas[k]);
                }
            }

        }

    }
    



    // Textarea select conversion to hashtags

    // For now it's disabled, but will be enabled for bulk statement correction later

    var getSelected = function(){
        var t = '';
        if(window.getSelection) {
            t = window.getSelection();
        } else if(document.getSelection) {
            t = document.getSelection();
        } else if(document.selection) {
            t = document.selection.createRange().text;
        }
        return t;
    }


    $("#statement").select(function(eventObject) {
        var selectedText = getSelected().toString();

        var statementReplace = $("#statement").val();

        if ((statementReplace.indexOf('@'+selectedText) === -1) && (selectedText !== statementReplace)) {

            var regex = RegExp(selectedText, "g");

            var dasherized = S(selectedText).underscore().chompLeft('_').s;

            // TODO check words for morphology (if found, alert)

            var replacedString = statementReplace.replace(regex,"#" + dasherized).replace(/##/g,'#');
            $("#statement").val(replacedString);
        }

    });

    function addEntryForm() {
        return {
            update: function(content) {          
                if ($('#statement').val().length == 0 || $('#statement').val().charAt(0) == '#') {
                    $('#statement').val(arrayToHashtagString(content));
                }
            }
        }
    }

    




</script>