<div id="entryform" class="editorpane">
    <%- include('./Header',
        {perceivername, addcontext, context}); %>

    <%- include('./Footer',
        {perceivername, context, contextpublic}); %>

        <!-- the panel to show content -->
    <%- include('./Body',
        {perceivername, url, urltitle}); %>
</div>
