<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
</head>
<body>

<% include statsabove %>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <% include menu %>

    <div id="content">
          <div id="welcomemessage">
              <p>Please, create a user account below to start using InfraNodus.<br><br>
                You can request your invitation code on <a href="http://noduslabs.com/features/invite/" target="_blank">Nodus Labs</a> website (waiting time: from 4 weeks) or <a href="https://noduslabs.dpdcart.com/subscriber/add?plan_id=423&plan_term_id=691">get it instantly</a> in exchange for a small contribution that will help us further develop this open source tool.</p>

              <% include messages %>

                <form action='/signup' method='post' class="pure-form pure-form-stacked">


                    <p>
                        <input type='text' name='username' placeholder='username' />
                    </p>
                    <p>
                        <input type='password' name='password' placeholder='password' />
                    </p>
                    <p>
                        <input type='email' name='email' placeholder='email' />
                    </p>

                    <p>
                        <input type='text' name='invite' placeholder='invitation code' />
                    </p>
                    <p>

                      <div class="small-caption">
                      do you accept our <a href="https://infranodus.com/infranodus/privacypolicy?maxnodes=90">privacy policy</a> and do you consent to receive updates from us<br>

                      </div>
                      <input type='checkbox' name='consent' value='yes'/>

                    </p>
                    <p>
                        <button type='submit' class="pure-button pure-button-primary">create account</button>
                    </p>
                </form>

          </div>
    </div>

</div>

<script src="/javascripts/ui.js"></script>




<% include statsbelow %>

</body>
</html>
