<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="infranodus-test" ></script>
    <script src="/javascripts/jquery.min.js"></script>

</head>
<body>

<% include statsabove %>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <% include menu %>

    <div id="content">
          <div id="welcomemessage">
              <p>Please, create a user account below to start using InfraNodus.<br><br>
                This open source tool is developed by Nodus Labs without investors or external funds, therefore we ask you to make a small contribution to help finance our work. You will get 15 days free to evaluate the product and you can cancel at any time. </p>

              <% include messages %>

                <form action='/signup' method='post' class="pure-form pure-form-stacked">


                    <p>
                        <input type='text' name='username' placeholder='username' />
                    </p>
                    <p>
                        <input type='password' name='password' placeholder='password' />
                    </p>
                    <p>
                        <input type='email' name='email' placeholder='email' />
                    </p>

                    <p>
                        <input type='text' name='invite' id='invitation' placeholder='invitation code' />
                    </p>
                    <p>

                      <div class="small-caption">
                      do you accept our <a href="https://infranodus.com/infranodus/privacypolicy?maxnodes=90" target="_blank">privacy policy</a> and do you consent to receive updates from us<br>

                      </div>
                      <input type='checkbox' name='consent' value='yes'/>

                    </p>
                    <p>
                        <button type='submit' id='register' class="pure-button pure-button-primary">create account</button>
                    </p>
                </form>

          </div>
    </div>

</div>

<script src="/javascripts/ui.js"></script>


<script>
document.addEventListener("DOMContentLoaded", function() {
    let cbInstance = Chargebee.getInstance();
    let cart = cbInstance.getCart();
    let product = cbInstance.initializeProduct("infranodus-access");
    cart.replaceProduct(product);



       $("#register").click(function(event){
         event.preventDefault();

        if ($("#invitation").val().length == 0) {
          event.preventDefault();
          cart.proceedToCheckout();

        }
      });

  });
</script>

<% include statsbelow %>

</body>
</html>
