<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery.textcomplete.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />



</head>
<body>
<% include statsabove %>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <% include menu %>




    <div id='content'>

        <div id='welcomemessage'>

            Visualize the #hashtags and words used in tweets that contain the following hashtag:
            <% include messages %>
            <br>&nbsp;
            <form action='/import' name='submitform' id="submitform" method='post' enctype="multipart/form-data" class='pure-form pure-form-stacked'>
            <input id="source1" type="hidden" name="source" value="twitter">
              <div id="inputplace"></div>
                <div id="extracttwitter">
                        <input id="extract4" type="hidden" name="extract" value="tophashtag">
                        <input id="extractfilter" type="hidden" name="excludesearchterm" value="1">
                    <input id="excludementions" type="hidden" name="excludementions" value="1">


                <div id="searchtermbox">
                Hashtag / Searchterm:
                <br>

                <input type='text' name='search' id="search" placeholder='@username or #hashtag' value="<% if (fornode) { %><%= fornode %><% } else { %>news<%} %>" />

                </div>

<br>&nbsp;<br>
  <div id="savelists">

                Save in List:
                <br>
                <input type='text' name='context' value='<% if (context) {  %><%= context %><% } else { %>twitter<% } %>'/>
                <br>
</div>


                <div id="howmanyposts">
                How Many Recent Posts:
                <input type='text' name='limit' value='100' />
                <br>
                </div>

                <div id="importsettings">
                Settings:
                <label for="settings1" class="pure-radio">
                    <input id="settings1" type="radio" name="settings" value="morphemes">
                    Process both hashtags and words
                </label>

                <label for="settings2" class="pure-radio">
                    <input id="settings2" type="radio" name="settings" value="hashtags" checked>
                    Process only hashtags
                </label>
                <br>
                </div>

                <input type="hidden" id="selectedContexts" name="selectedContexts" value="">
                <input type="hidden" name="statementid" value="">
                &nbsp;<br>
                <input type='submit' name="submit" value="visualise" class="pure-button pure-button-primary">

            </form>   &nbsp;<br>&nbsp;<br>





        </div>

        <div id="graph-container"></div>


    </div>




</div>


<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/jquery-ui.min.js"></script>
<script src="/javascripts/string.min.js"></script>
<script src="/javascripts/underscore-min.js"></script>
<script src="/javascripts/jquery.textcomplete.js"></script>
<script src='/javascripts/jquery.autosize.js'></script>
<script src="/javascripts/ui.js"></script>
<script src="/javascripts/jquery.mobile-events.min.js"></script>


<script>
    ;(function(){



        $('form#submitform').submit(function(){
            $(this).find('input[type=submit]').attr('disabled', 'disabled');
        });





    })();
</script>




<% include statsbelow %>
</body>
</html>
