<div id="analytics">
    <div id='searchanalytics'>The following texts contain the nodes <div id='searchterms'></div><br>
        <div class='headline'>Current User's Texts:<br></div>
        <div id="similarlist">n/a</div><br>
        <div class='headline'>Others' Public Texts:<br></div>
        <div id="similaroutside">none found</div><br>
        <div id='mininganalytics'>
            <div class='headline'>Main Topics</div> (according to Latent Dirichlet Allocation):<br>";
            <div id='topicsLDA'></div><br>
            <div class='headline'>Most Influential Words</div> (main topics and words according to LDA):<br>
            <div id='termsLDA'></div><br>
             LDA works only for English-language texts at the moment. More support is coming soon, subscribe  @noduslabs to be informed.<br><br>";
            <button id='miningbutton' class='panelControlBtn' data-id='mining_analytics'>LDA Data</button> 
            <button id='analbutton' class='panelControlBtn' data-id='analytics'>Graph Stats</button>
        </div>
    </div>
    <div id="panelControllers">
        <ul>
        <button id="analbutton" class="panelControlBtn" data-id="analytics">Graph Data</button> &nbsp; <button id='miningbutton' class='panelControlBtn' data-id='mining_analytics'>LDA Data</button> &nbsp; <button id='requestbutton' class='panelControlBtn' data-id='request_analytics'>Custom Report</button>
        </ul>
    </div>
    <div id='mainanalytics'>
        <div class='headline'>Main Topical Groups</div> (graph communities):<br>
        <div id="maintopics"></div><br>
        <div class='headline'>Most Influential Elements</div> <div id="typeofinf"></div>
        <div id="mostinfluential"></div><br>
        <div class='headline'>Question to Ask</div> (structural gap):<br>
        <div id="recommendedquestion"></div><br>
        <div id='graphstats'></div><br><br>
        <button id='resetgraph' class='panelControlBtn'>Reset</button> &nbsp; <button id='resetgraph' class='panelControlBtn'>Export Data</button>
    </div>

</div>

<a href="javascript:" class="tooltip editorpane" title="graph analytics" id="analyticsbutton"><div id="analyticscaption"></div></a>

<script>

    let customization = ' ';

<% if (locals.user && !locals.vieweduser) { %>

    <% if (locals.user.customization) { %>
    customization = '<%= user.customization %>';
    <% } %>

<% }  %>
    

    $('#analyticscaption').html(customization);
       
    // What happens when we click analytics pane
    $('#analyticsbutton').click(function(){
        // Process logic and remember settings
        $('#analytics').toggle('slide', function(){
        if ($('#analytics').is(":visible")) {
            localStorage.setItem('analytics', 1);
            $('#analyticsbutton').addClass('analytics-on');
            $('#analyticscaption').hide();

        }
        else {
            localStorage.setItem('analytics', 0);
            $('#analyticsbutton').removeClass('analytics-on')
            $('#analyticscaption').show();
        }
        });

    });
            

    $('#analytics').on('swipedown',function(){$('#analyticsbutton').trigger('click');});

</script>