<div id="analytics"></div>
<a href="javascript:" class="tooltip editorpane" title="graph analytics" id="analyticsbutton"><div id="analyticscaption"></div></a>

<script>
    $('#analyticscaption').html(customization);
</script>