<div id="biasindex" class="tooltip researchpane" title="shows the stage of the network's development: forming > developing > equalizing > restructuring"><div class="slidercaption researchpane" id="biascaption">network ecology: </div>
<div class="slidercontainer researchpane">
<input type="range" min="1" max="100" value="50" class="slider" disabled id="biasRange">
</div></div>