<div id="biasindex" class="tooltip researchpane" title="shows how diversified the discourse network structure is: biased > focused > diverse > dispersed"><div class="slidercaption researchpane">network diversity level: </div>
<div class="slidercontainer researchpane">
<input type="range" min="1" max="100" value="50" class="slider" disabled id="biasRange">
</div></div>