<div id="messages">
      
      <a href="javascript:" id="globalsearchbutton" class="tooltip" title="search globally in all the graphs"></a>      
  
      <form action="" method="" class="pure-form" id="globalsearchform"><input type="text" id="globalsearchinput" size="15" placeholder="search all graphs" class="pure-input">
      </form>

      <a href="javascript:" id="globalsearchremove" class="tooltip" title="remove the graphs from this graph"></a>




</div>