<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title><%= title %></title>
    <script src="/javascripts/jquery.min.js"></script>
    <script>
            <% if (perceivername) { %>
                const viewType = 'external';
            <% } else { %> 
                const viewType = 'internal';
            <% } %> 

      

     

            
            var splicedNodes = [];
            var deletedNodes = [];
            var selectedNodes = [];

            var forwardTo = 'https://www.google.com/search?q=';

            // Get current context
            var path = window.location.pathname;
            var current_context = '<%= context %>';
            var current_user = path.replace(/^\/([^\/]*).*$/, '$1');
            var hostsite = window.location.host;

            var addcontext = '';
          
    </script>
    <link rel='stylesheet' href='/stylesheets/jquery.textcomplete.css' />
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/side-menu.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel='stylesheet' href='/stylesheets/jquery.taghandler.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/tooltipster.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/tooltipster-noir.css" />
    <% if (speech) { %>
    <script src="/javascripts/talkify.min.js"></script>
    <%  } %>
    <% if (locals.user) { %>
        <% if (locals.user.midi != undefined && locals.user.midi != 'off') { %>
    <script src="/javascripts/webmidi.min.js"></script>
          <%  } %>
    <%  } %>
    <link rel="stylesheet" href="/stylesheets/bootstrap-tour-standalone.min.css" />
    <script src="/javascripts/bootstrap-tour-standalone.min.js"></script>
    
   
</head>