<a href="javascript:" id="addcontext-link" class="tooltip editorpane" title="see the similarities with another graph (intersections): click this and then choose another graph in the menu.">
        <!-- Addcontext icon -->
        <span></span>
    </a>

<a href="javascript:" id="diffcontext-link" class="tooltip editorpane" title="see the differences with another graph (what's not present in this graph that's present there): click this and then choose another graph in the menu.">
        <!-- Addcontext icon -->
        <span></span>
</a>

<a href="javascript:" class="tooltip" title="hide the text pane" id="statements-link">
    <span></span>
</a> 

<a href="javascript:" class="tooltip" title="make graph dynamic: as you scroll the text entries you'll see them highlighted" id="timer-link">
    <span></span>
</a> 

<a href="javascript:" class="tooltip" title="play dynamic graph: infranodus will scroll the text entries and highlight them on the graph" id="watch-link">
    <span></span>
</a> 


