<a href="javascript:" id="addcontext-link" class="tooltip editorpane" title="see the similarities with another graph (intersections)">
        <!-- Addcontext icon -->
        <span></span>
    </a>

<a href="javascript:" id="diffcontext-link" class="tooltip editorpane" title="see the differences with another graph (what's not present in this graph that's present there)">
        <!-- Addcontext icon -->
        <span></span>
</a>

<a href="javascript:" class="tooltip" title="hide the text pane" id="statements-link">
    <span></span>
</a> 

<a href="javascript:" class="tooltip" title="make graph dynamic" id="timer-link">
    <span></span>
</a> 

<a href="javascript:" class="tooltip" title="play dynamic graph" id="watch-link">
    <span></span>
</a> 

<a href="javascript:" class="tooltip" title="show tutorial" id="walkthrough"></a>

<a href="/settings" class="tooltip" title="adjust settings" id="adjustsettings"></a>

