<a href="javascript:" id="addcontext-link" class="tooltip editorpane" title="compare to context">
        <!-- Addcontext icon -->
        <span></span>
    </a>

    <a href="javascript:" class="tooltip" title="hide the text pane" id="statements-link">
         <span></span>
     </a> 
   
    <a href="javascript:" class="tooltip" title="make graph dynamic" id="timer-link">
         <span></span>
     </a> 
   
     <a href="javascript:" class="tooltip" title="play dynamic graph" id="watch-link">
         <span></span>
     </a> 

     <a href="javascript:" class="tooltip" title="show tutorial" id="walkthrough"></a>


<script>

toggleStatementsButton().onClick(toggleStatements);

function toggleStatements() {  
    entries().toggle();
}

function toggleStatementsButton() {
    return {
        onClick: function(onClick){
            $('#statements-link').on('click', onClick)
        }
    }
}
</script>