<script>

        // Initialize walkthrough

        initializeWalkthrough(userFactory.getWalkthrough());

        $("#walkthrough").click(function(e) {
               e.preventDefault();
               userFactory.setWalkthrough('default');
               initializeWalkthrough(userFactory.getWalkthrough());
        });

        $("#analytics_help").click(function(e) {
               e.preventDefault();
               userFactory.setWalkthrough('analytics_help');
               initializeWalkthrough(userFactory.getWalkthrough());
        });

        // Begin walkthrough tour module for tutorial Help
        
         function initializeWalkthrough (walkthrough) {

          if (walkthrough == 'default' || walkthrough == 'newcontext' || walkthrough == 'analytics_help' || walkthrough == "tldr" || walkthrough == "force") {           
           // Instance the tour
             var tour = new Tour({
               storage: false,
               steps: [
               {
                 element: "#entryform",
                 orphan: true,
                 placement: "top",
                 title: "Welcome to InfraNodus",
                 content: "Please, follow this step-by-step tutorial to get the most out of this tool. It will only take you 3 minutes and you will learn how to visualize any text as a network, detect the main topics, the relations between them, learn more about the structure of the discourse, compare them, find the structural gaps (that's where the new ideas are!), and perform your research in a more efficient way.",
               },
               {
                 element: "#entryform",
                 orphan: true,
                 placement: "top",
                 title: "Adding Data...",
                 content: "You can start typing your ideas and notes here. Press Enter or Save to submit. They will be visualized as a graph.",
                 onNext: function (tour) {
                     $('#statement').val('Every word you type is a node in a graph. When the words cooccur together, they are connected.');
                 }
               },
               {
                 element: "#statement",
                 placement: "top",
                 title: "Try to Add this Statement Now...",
                 content: "You can add this statement or edit and add your own. Then press the SAVE button... <br>(You will be able to delete it later).",
                 onNext: function (tour) {
                     $('#statement').val('');
                 }
               },
               {
                 element: ".entry:last",
                 orphan: true,
                 placement: "auto",
                 title: "See the Statements",
                 content: "You will then see this statement appear here. To see it in the graph, click on it once. To edit or to delete it, click Edit. You can select a few statements at once. Click Deselect to reset the selection."
               },
               {
                 element: "#entryform",
                 orphan: true,
                 placement: "top",
                 title: "Mindmapping Using #Hashtags and @Mentions",
                 content: "You can also use #hashtags and @mentions to create nodes and edges in the graph, which makes InfraNodus the fastest mind-mapping software out there. #Hashtags connect to each other, @Mentions connect to everything. For example, see how the following statement will get visualized. You can adjust this behavior in <a href='/settings'>Settings</a>",
                 onNext: function (tour) {
                     $('#statement').val('One #hashtag will connect to a #different_hashtag and they both will connect to a @mention. The rest of the text is not visualized then.');
                 }
               },
               {
                 element: "#statement",
                 placement: "top",
                 title: "Try to Add this Statement Now...",
                 content: "You can add this statement or edit and add your own. Then press the SAVE button... <br>(You will be able to delete it later).",
                 onNext: function (tour) {
                     $('#statement').val('');
                 }
               },
               {
                 element: ".entry:last",
                 orphan: true,
                 placement: "auto",
                 title: "It Appears Here and on the Graph",
                 content: "You will then see this statement appear here. To see it in the graph, click on it once. To edit or to delete it, click Edit. You can select a few statements at once. Click Deselect to reset the selection."
               },
               {
                 element: "#statement",
                 placement: "top",
                 title: "Delete Statements",
                 content: "If you click on any statement and then click Edit, it appears here. Then simply click the Delete icon below the statement and it will be removed. You can also Edit and click Edit. Or Cancel."
               },
               {
                 element: "#deletecontextbutton",
                 placement: "top",
                 title: "Delete The Whole Graph",
                 content: "Careful! If you click this button, you will delete the whole graph with all its contents. It cannot be undone."
               },
               {
                 element: "#import-link",
                 placement: "top",
                 title: "Import Statements",
                 content: "You can also import any data from a PDF / TXT file, a URL (inc Wikipedia), RSS Feeds, Twitter, Google search results, your notes, etc.<br>If you already have a few nodes in this graph, you can select them, and then import relevant search results to a new graph and then compare them to your original one."
               },
               {
                 element: "#menuLink",
                 title: "Context Menu",
                 content: "You can navigate using this menu here. Here you can choose another context (list / graph / set), add a new one, or see all of them at once.",
                 onShow: function (tour) {
                     $('#menuLink').click();
                 }
               },
               {
                 element: "#graph-link",
                 placement: "left",
                 title: "Hide/Show Edit Pane",
                 content: "You can use this button to hide / show the edit pane, so you can clearly see the graph.",
                 onShow: function (tour) {
                     $('#menuLink').click();
                     $('#graph-link').click();
                 }
               },
               {
                 element: "#statements-link",
                 placement: "right",
                 title: "Hide/Show Statements",
                 content: "You can also use this button to hide the text but to leave the edit pane on.",
                 onShow: function (tour) {
                     $('#graph-link').click();
                 }
               },
               {
                 element: "#walkthrough",
                 placement: "left",
                 title: "This Tutorial",
                 content: "If, at any point, you want to see this tutorial again, click here.",

               },
               {
               element: "#globalsearchinput",
               placement: "bottom",
               title: "Global Search",
               content: "You can use this field to search a term among all your graphs. Select a few nodes and click the Search button. Your private graphs and others' public ones will appear as the squares here. Click them to open the graphs with your selections.",
               },
               {
               element: "#addcontext-link",
               placement: "right",
               title: "Compare Different Graphs and Texts",
               content: "You can compare two different graphs using this feature. Click this button once, then go to the menu and select another graph, click it again and you'll see the intersection graph between the two texts. ",
               },
               {
               element: "#timer-link",
               placement: "right",
               title: "Visualize the Dynamic Graph's Evolution",
               content: "Click this button and then when you scroll through your statements, you'll see them visualized one by one",
               },
               {
               element: "#watch-link",
               placement: "right",
               title: "Play Back and Watch",
               content: "If you don't want to scroll yourself, click this button and the graph will play automatically. It is great for a visualization. You can leave it on while adding the new statements as well.",
               },
               {
                 element: "#microphone-link",
                 orphan: true,
                 placement: "right",
                 title: "Voice to Text Input",
                 content: "If you use Chrome browser, you can also turn on Voice to Text input. Great for interviews and when you're lazy to type. English, French, German and Russian."
               },
               {
                 element: "#graph-container",
                 placement: "top",
                 title: "Use the Graph",
                 content: "You can click on the nodes on the graph to see what they're connected to and to filter the statements, which contain them."
               },
               {
                 element: "#analyticsbutton",
                 placement: "left",
                 title: "Text / Graph Analytics",
                 content: "Here you can see the main topics identified in the graph and the main keywords / nodes and click them to get more insights about the graph. You can also discover what questions to ask to make your discourse more connected.",
                 onShow: function (tour) {
                     $('#graph-link').click();
                     if ($('#analytics').is(":visible")) {
                     }
                     else {
                       $('#analyticsbutton').click();
                     }
                 }
               },
               {
                 element: "#analytics",
                 placement: "auto",
                 title: "How to Analyze the Graph",
                 content: "The top topics are identified according to Louvain community detection algorithm (Blondes et al 2008). It detects the words that co-occur more often together than others and puts them into the same community (designated with a specific color)."
               },
               {
                 element: "#analytics",
                 placement: "auto",
                 title: "Most Influential Words",
                 content: "The most influential words are the words in the graph that have the highest betweenness centrality — they appear most often on the shortest path between any two randomly chosen words. It means they serve as the 'crossroads' of meaning, often linking different contexts together. This is not the same as the most frequently used words, rather these words connect the different topics in this discourse. (it is also possible to use degree as the most influential words setting)"
               },
               {
                 element: "#graphstats",
                 placement: "top",
                 title: "Graph Stats",
                 content: "We use our own measure of <a href='https://noduslabs.com/research/visualization-text-polysingularity-network-analysis/' target='_blank'>discourse polysingularity</a> (Paranyushkin 2012, 2018) to score the discourse visualized based on the structure of the graph. <br><b>'Sparse'</b> — indicates a fragmented discourse (e.g. poetry, the beginning of a research, etc.) <br><b>'Diversified'</b> — indicates a discourse with a high level of plurality.<br><b>'Focused'</b> — prioritizes one or two topics. <br><b>'Biased'</b> — an agenda or mobilizing action present (e.g. advertising, ideology, manifesto)."
               },
               {
                 element: "#biasindex",
                 placement: "top",
                 title: "Bias Level",
                 content: "This measures the level of diversity in the graph: if it consists of disjointed islands it's 'dispersed'; if those islands are interconnected, there are several topics within, it's 'diversified'; if most of the nodes are in one topic it's 'focused', if it's tightly interconnected and there are no distinct topical clusters, it's 'biased'. Read more about the methology in our <a href='https://towardsdatascience.com/measuring-discourse-bias-using-text-network-analysis-9f251be5f6f3' target='_blank'>Identifying the Discourse Bias</a> (Paranyushkin 2018) article in Towards Data Science."
               },
               {
                 element: "#graph-container",
                 placement: "bottom",
                 title: "Discover New Ideas",
                 content: "You can also discover new ideas if you look for the gaps inside the graph.",
                 onShow: function (tour) {
                     $('#graph-link').click();
                 }
               },
               {
                 element: "#go_next",
                 placement: "left",
                 title: "Search the Web",
                 content: "Once you select a few nodes in the graph, you can click this to search them on the web.",
                 onShow: function (tour) {
                   if ($('#analytics').is(":visible")) {
                      $('#analyticsbutton').click();
                   }
                 }
               },
               {
                 element: "#collaborate-link",
                 title: "Collaborate",
                 placement: "top",
                 content: "You can invite somebody to collaborate and to work with you on this graph. Click on this button to copy and paste the URL and then send it to your collaborators."
               },
               {
                 element: "#privacy-link",
                 title: "Privacy / Embed",
                 placement: "top",
                 content: "All your data is private by default and cannot be seen by anybody. You can make this graph public and then embed it on any other html page. Just click this button and then copy and paste the URL or the embed code."
               },
               {
                 element: "#settingspane",
                 title: "Settings Pane",
                 content: "Here you can log out, adjust the settings, and export your graph in any format for further visualization using Gephi or any other software.",
                 onShow: function (tour) {
                     $('#menuLink').click();
                 }
               },
               {
                 element: "#addNewContext",
                 title: "Add a New Context",
                 content: "You can add a new context here (click, type in the new name and click Enter to save). Think of contexts as lists or folders. You can store different notes there or you can organize them by hashtags."
               },
               {
                 element: "#improve-layout",
                 title: "Improve Graph Layout",
                 placement: "left",
                 content: "You can use this button to improve the graph's layout.",
                 onShow: function (tour) {
                     $('#menuLink').click();
                 }
               },
               {
                 element: "#abstract-layout",
                 title: "Show Abstract Layout",
                 placement: "left",
                 content: "Click this button to see an abstract representation of the graph."
               },
               {
                 element: "#graph-tools",
                 placement: "left",
                 title: "Zoom In / Zoom Out",
                 content: "Use these buttons to zoom in and zoom out (or scroll your trackpad or pinch your iPad/iPhone)"
               },
               {
                 element: "#reloadbutton",
                 placement: "left",
                 title: "Reload Graph",
                 content: "If, at any point, something goes wrong, you can always click this to reload the graph."
               },
               {
                 element: "#summary",
                 placement: "bottom",
                 title: "Essence / Summary",
                 content: "Click here to filter the most essential statements from the discourse. These will be the ones that contain the key terms (the main topical clusters) of the discourse as identified in the Analytics pane.",
                 onShow: function (tour) {
                     $('#summary').click();
                     if ($('#analytics').is(":visible")) {
                     }
                     else {
                       $('#analyticsbutton').click();
                     }
                 }
               },
               {
                 element: "#insight",
                 placement: "bottom",
                 title: "Insight",
                 content: "Click here to generate new ideas: we will show you the two topical clusters and the associated statements, which could be linked together to get a new insight into the discourse or to develop it further (depending on its structure).",
                 onShow: function (tour) {
                     $('#insight').click();
                 }
               },
               {
                 element: "#walkthrough",
                 placement: "left",
                 title: "Interactive Help",
                 content: "When you want to see this guide again, click here.",
                 onShow: function (tour) {
                     if ($('#analytics').is(":visible")) {
                        $('#analyticsbutton').click();
                     }
                     $('#overview').click();
                 }
               }

             ]});

             // New context tutorial? Do not show it if it's been shown before
             if (walkthrough == 'newcontext' || walkthrough == 'tldr') {
               tour._options.storage = window.localStorage;
             }

             if (walkthrough == 'tldr') {
             //  console.log(tour._options.steps);
               tour._options.steps = [
                 {
                 element: "#entryform",
                 placement: "right",
                 title: "Visualizing a Long Text",
                 content: "If you would like to visualize a long text, copy and paste it here and click Save. You will probably need to wait for about 20-60 seconds. If nothign happens, you can try to reload the page after. We currently can handle about 150K max.",
               },
               {
               element: "#graph-container",
               placement: "bottom",
               title: "Navigate the Graph",
               content: "You will then see a graph representation of this text. The most prominent topics will be shown as bigger nodes in the graph, those words, which are used in the same context will be closer to each other.",
               },
               {
               element: "#graph-container",
               placement: "top",
               title: "Search through Text",
               content: "You can then click on the nodes in the graph to find the parts of the text that you find interesting.",
               },
               {
               element: "#graph-container",
               placement: "left",
               title: "Discover New Ideas",
               content: "The gaps in the graph will show you where you could do more research or what questions to ask.",
               },
               {
               element: "#graph-container",
               placement: "left",
               title: "Discover New Ideas",
               content: "The gaps in the graph will show you where you could do more research or what questions to ask.",
               },
               {
                 element: "#menuLink",
                 title: "Context Menu",
                 content: "You will be able to later find your text here.",
                 onShow: function (tour) {
                     $('#menuLink').click();
                 }
               },
               {
                 element: "#summary",
                 placement: "bottom",
                 title: "Essence / Summary",
                 content: "Click here to filter the most essential statements from the discourse. These will be the ones that contain the key terms (the main topical clusters) of the discourse as identified in the Analytics pane.",
                 onShow: function (tour) {
                     $('#summary').click();
                     if ($('#analytics').is(":visible")) {
                     }
                     else {
                       $('#analyticsbutton').click();
                     }
                 }
               },
               {
                 element: "#insight",
                 placement: "bottom",
                 title: "Insight",
                 content: "Click here to generate new ideas: we will show you the two topical clusters and the associated statements, which could be linked together to get a new insight into the discourse or to develop it further (depending on its structure).",
                 onShow: function (tour) {
                     $('#insight').click();
                 }
               },
               {
                 element: "#walkthrough",
                 placement: "left",
                 title: "Detailed Tutorial",
                 content: "If, at any point, you want to see a more detailed Tutorial, click here.",
                 onShow: function (tour) {
                     if ($('#analytics').is(":visible")) {
                        $('#analyticsbutton').click();
                     }
                     $('#overview').click();
                 }
               }
               ]
             }

             // Another walkthrough option passed through the URL

             if (walkthrough == 'analytics_help') {
             //  console.log(tour._options.steps);
               tour._options.steps = [
               {
                 element: "#analytics",
                 placement: "top",
                 title: "How to Analyze the Graph",
                 content: "This walkthrough will help you understand the different measures used when analyzing the graph. <br><br>You can also refer to and cite our paper: Paranyushkin, D (2019). <strong>InfraNodus: Generating Insight Using Text Network Analysis</strong>, Proceedings of WWW ’19 The World Wide Web Conference, Pages 3584-3589, San Francisco, CA, USA — May 13 – 17, 2019. Available as an HTML Version in <a href='https://dl.acm.org/citation.cfm?id=3314123' target='_blank' rel='nofollow'>ACM Library</a> or as a <a href='http://bit.ly/wwwinfranodus'>Free PDF Download</a>" 
                },
                {
                 element: "#analytics",
                 placement: "top",
                 title: "Graph Visualization",
                 content: "On the graph, every node is a word and every co-occurrence is a connection between them. The nodes that tend to appear more often together are shown closer on the graph. This way you get the next generation tag cloud: emphasizing not only the most relevant words, but also showing which context they appear in." 
                },
               {
                 element: "#maintopics",
                 placement: "left",
                 title: "Main Topical Groups",
                 content: "The top topics are identified according to Louvain community detection algorithm (<a href='https://iopscience.iop.org/article/10.1088/1742-5468/2008/10/P10008/meta' rel='nofollow' target='_blank'>Blondel et al 2008</a>). It detects the words that co-occur more often together than others and puts them into the same community (designated with a distinct color each). We range them either according to the degree or the number of connections that each node has (default measure — correlates with the node's frequency) or betweenness centrality (see <a href='/settings'>settings</a>)."
               },
               {
                 element: "#mostinfluential",
                 placement: "left",
                 title: "Most Influential Words",
                 content: "The most influential words are the words in the graph that have the highest <a href='https://www.eecs.wsu.edu/~assefaw/CptS580-06/papers/brandes01centrality.pdf' rel='nofollow' target='_blank'>betweenness centrality</a> (by defaut) — they appear most often on the shortest path between any two randomly chosen words. It means they serve as the 'crossroads' of meaning, often linking the different contexts or topical clusters together. This is not the same as the most frequently used words, rather these words connect the different topics in this discourse. (it is also possible to use degree as the most influential words if you change the <a href='/settings'>settings</a>)"
               },
               {
                 element: "#graphstats",
                 placement: "left",
                 title: "Graph Statistics",
                 content: "Here you can see some statistics about the graph. The total number of nodes displayed (can be changed in <a href='/settings'>settings</a>), the relation of total edges to nodes (the higher this number, the more densely connected the graph is), the average degree (how many nodes every node is connected to)."
               },
               {
                 element: "#diversity_score",
                 placement: "left",
                 title: "Diversity Score",
                 content: "We use <a href='http://bit.ly/wwwinfranodus'>Paranyushkin 2019</a> to score the level of diversity in the network based on the structure of the graph. <br><b>'Disperse'</b> — indicates a fragmented network, there are distinct communities but they are not connected (e.g. poetry, the beginning of a research, a nascent social network etc.) <br><b>'Diversified'</b> — indicates a network with a high level of plurality — there are distinct communities that are related on the global level and that can both propagate and retain information.<br><b>'Focused'</b> — prioritizes one or two communities or topics (e.g. news articles are often 'focused'). <br><b>'Biased'</b> — the network is highly homogeneous — an agenda or mobilizing action may be present (e.g. advertising, ideology, manifesto)."
               },
               {
                 element: "#diversity_score",
                 placement: "left",
                 title: "Diversity Score",
                 content: "The modularity measure that's higher than 0.4 indicates a highly pronounced community structure in the graph. <br><br>The number of nodes in the top topic indicates whether the influence is distributed evenly in the graph or if it's concentrated in one topic. Influence Dispersal shows how evenly the most influential nodes are distributed among the main communities in the graph. The low score means that most influential nodes are concentrated in one community."
               },
               {
                 element: "#recommendedquestion",
                 placement: "left",
                 title: "Insight",
                 content: "This measure identifies the structural gap in the graph: the part of the network between the two or several distinct communities that are not connected. Structural gaps are known to play an important role in social networks, where they indicate the areas of high potential. Answering the question that links the two disjointed parts of the graph together may lead to the new ideas and 'eureka' moments.",
               },
               {
                 element: "#miningbutton",
                 placement: "left",
                 title: "Latent Dirichlet Allocation",
                 content: "You can also compare the results obtained using network analysis to the popular topic detection method LDA - Latent Dirichlet Allocation. Both methods can compliment each other."
               },
               {
                 element: "#analytics",
                 placement: "left",
                 title: "More Information",
                 content: "For more information, please, refer to and cite our paper: Paranyushkin, D (2019). <strong>InfraNodus: Generating Insight Using Text Network Analysis</strong>, Proceedings of WWW ’19 The World Wide Web Conference, Pages 3584-3589, San Francisco, CA, USA — May 13 – 17, 2019. Available as an HTML Version in <a href='https://dl.acm.org/citation.cfm?id=3314123' target='_blank' rel='nofollow'>ACM Library</a> or as a <a href='http://bit.ly/wwwinfranodus'>Free PDF Download</a>.<br><br>Also, feel free to <a href='http://noduslabs.com/contact/'>contact us</a> if you have specific questions about the graph measures used." 
                },
               ]
             }

             if (walkthrough=='external') {

               var windowsize = $(window).width();
               if (windowsize <= 460) {
                  if (!$("#statements").is(":hidden")) {
                        $('#statements').hide();
                  }

               }

               tour._options.steps = [
               {
               element: "#graph-container",
               placement: "bottom",
               title: "Welcome to InfraNodus",
               content: "Here you can see network visualization of the text on the left. The most prominent topics are shown as the bigger nodes in the graph. The words, which are more often used in the same context will be closer to each other. The different colors will show the topical clusters that belong together.",
               onShow: function (tour) {
                   $('#analytics').hide();
               }
               },
               {
               element: "#graph-container",
               placement: "top",
               title: "Search through Text",
               content: "You can then click on the nodes in the graph to find the parts of the text that you find interesting.",
               },
               {
               element: "#globalsearchinput",
               placement: "bottom",
               title: "Search in Graph",
               content: "You can also use this search field to look for the nodes in all your graphs.",
               },
               {
                 element: "#graph-link",
                 placement: "left",
                 title: "Hide/Show Statements",
                 content: "You can use this button to hide / show statements, so you can clearly see the graph.",
                 onShow: function (tour) {
                     $('#graph-link').click();
                 }
               },
               {
                 element: "#analyticsbutton",
                 placement: "left",
                 title: "Text / Graph Analytics",
                 content: "Here you can see the main topics identified in the graph and the main keywords / nodes and click them to get more insights about the graph. You can also discover what questions to ask to make your discourse more connected.",
                 onShow: function (tour) {
                     $('#graph-link').click();
                     if ($('#analytics').is(":visible")) {
                     }
                     else {
                       $('#analyticsbutton').click();
                     }
                 }
               },
               {
                 element: "#analytics",
                 placement: "auto",
                 title: "How to Analyze the Graph",
                 content: "The top topics are identified according to Louvain community detection algorithm (Blondes et al 2008). It detects the words that co-occur more often together than others and puts them into the same community (designated with a specific color)."
               },
               {
                 element: "#analytics",
                 placement: "auto",
                 title: "Most Influential Words",
                 content: "The most influential words are the words in the graph that have the highest betweenness centrality — they appear most often on the shortest path between any two randomly chosen words. It means they serve as the 'crossroads' of meaning, often linking different contexts together. This is not the same as the most frequently used words, rather these words connect the different topics in this discourse. (it is also possible to use degree as the most influential words setting)"
               },
               {
                 element: "#graphstats",
                 placement: "top",
                 title: "Graph Stats",
                 content: "We use our own measure of <a href='https://noduslabs.com/research/visualization-text-polysingularity-network-analysis/' target='_blank'>discourse polysingularity</a> (Paranyushkin 2012, 2018) to score the discourse visualized based on the structure of the graph. <br><b>'Sparse'</b> — indicates a fragmented discourse (e.g. poetry, the beginning of a research, etc.) <br><b>'Diversified'</b> — indicates a discourse with a high level of plurality.<br><b>'Focused'</b> — prioritizes one or two topics. <br><b>'Biased'</b> — an agenda or mobilizing action present (e.g. advertising, ideology, manifesto)."
               },
               {
                 element: "#biasindex",
                 placement: "top",
                 title: "Bias Level",
                 content: "This measures the level of diversity in the graph: if it consists of disjointed islands it's 'dispersed'; if those islands are interconnected, there are several topics within, it's 'diversified'; if most of the nodes are in one topic it's 'focused', if it's tightly interconnected and there are no distinct topical clusters, it's 'biased'. Read more about the methology in our <a href='https://towardsdatascience.com/measuring-discourse-bias-using-text-network-analysis-9f251be5f6f3' target='_blank'>Identifying the Discourse Bias</a> (Paranyushkin 2018) article in Towards Data Science."
               },
               {
               element: "#graph-container",
               placement: "bottom",
               title: "Discover the New Ideas",
               content: "The gaps in the graph will show you where you could do more research or what questions to ask."
               },
               {
                 element: "#walkthrough",
                 placement: "left",
                 title: "Detailed Tutorial",
                 content: "If, at any point, you want to see a this Tutorial again, click here.",
                 onShow: function (tour) {
                   if ($('#analytics').is(":visible")) {
                      $('#analyticsbutton').click();
                   }
                 }
               },
               {
                 element: "#menuLink",
                 title: "Create Your Own Graphs",
                 content: "To create your own text network visualizations, you can create a new account on <a href='https://infranodus.com'>InfraNodus.Com</a>.",
               }
               ]
             }

             // Initialize the tour
             tour.init();

             // Start the tour
             tour.start();
            }

           }
</script>